/*Font Dari Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomakh&family=Shafarik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomakh&family=Shafarik&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomakh&family=Roboto+Slab:wght@100..900&family=Shafarik&family=Sigmar&display=swap');

/* variabel CSS */
:root {
    --header-height: 64px;

    /* warna */
    --first-color: #997c5e;
    --first-color-alt: #EBE4D1;
    --second-color: brown;
    --third-color: #302b27;
    --fourth-color: #291c14;
    --fifth-color: #80644e;
    --sixth-color: #f2bea3;
    --sixth-color-alt: #f1ccb2;
    --title-color: black;
    --text-color: #765d44;
    --text-color-light: lightblue;
    --body-color: white;
    --container-color: #DEC7A5;
    --border-color: #EBE4D1;
    --mint-tua: #D3E8E1;
    --mint-muda: #E7F0ED;
    --coklat-tua1: #5a4532;
    --coklat-tua2:#6f513c;
    --krem-1: #f5e7dd;

    /* font */
    --body-font: "Monomakh", serif;
    --second-font: "Shafarik", serif;
    --third-font: "Sigmar", serif;
    --fourth-font: "Roboto Slab", serif;
    --big-font-size: 56px;
    --h1-font-size: 44px;
    --h2-font-size: 32px;
    --h3-font-size: 28px;
    --h4-font-size: 22px;
    --large-font-size: 18px; 
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;
    --tiny-font-size: 11px;

    /* tebal font */
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /* tansisi */
    --transition: cubic-bezier(0, 0, 0.5, 1);
    
    @media screen and (max-width: 1200px) {}

    /* base */
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }   

    input, textarea, body {
        color: var(--text-color);
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        font-weight: var(--weight-400);
    }

    body {
        background-color: var(--body-color);
    }

    h1, h2, h3, h4 {
        font-family: var(--second-font);
        color: var(--title-color);
        font-weight: var(--weight-600);
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    p {
        line-height: 24px;
    }

    img {
        max-width: 100%;
    }

    button, textarea, input {
        background-color: transparent;
        border: none;
        outline: none;
    }
    
   

    /* kelas css */
    .container {
        max-width: 1320px;
        margin-inline: auto;
        padding-inline: 12px;
    }
    .grid {
        display: grid;
        gap: 24px;
    }
    .section {
        padding-block: 64px;
    }
    .section--lg {
        padding-block: 64px;
    }
    .section__title {
        font-size: var(--h2-font-size);
        margin-bottom: 24px;
    }
    .section__title span {
        color: var(--coklat-tua2);
    }
    .form__input {
        border: 1px solid var(--first-color-alt);
        padding-inline: 16px;
        height: 45px;
        border-radius: 4px;
        font-size: var(--small-font-size);
    }
    .flex {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
    .new__price {
        font-weight: var(--weight-600);
    }
    .old__price {
        color: grey;
        font-size: small;
        text-decoration: line-through;
    }

    /* header  dan navigasi*/
    .header__top {
        background-color: var(--first-color-alt);
        border-bottom: 2px solid var(--first-color);
        padding-block: 20px;
    }

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__contact span:first-child {
        margin-right: 32px;
    }
    .header__contact, .header__allert-news, .header__top-action {
        font-size: var(--small-font-size);
    }
    .header__allert-news {
        color: var(--text-color-light);
        font-weight: var(--weight-600);
    }
    .header__top-action {
        color: var(--text-color);
    }


    .nav, .nav__menu, .nav__list, .header__user-actions {
        display: flex;
        align-items: center;
    }
    .nav {
        height: calc(var(--header-height) + 40px);
        justify-content: space-between;
        column-gap: 16px;
        }
    .nav__logo-img {
        width: 44px;
    }
    .search__button {
        width: 28px;
    }
    .nav__menu {
        width: 100%;
        margin-left: 40px;
    }
    .nav__list {
        display: flex;
        column-gap: 16px;
        margin-right: auto;
        flex-wrap: nowrap;
    }
    .nav__link {
        color: var(--title-color);
        font-weight: var(--weight-700);
        transition: all 0.2s var(--transition);
        white-space: nowrap;
    }
    .header__search {
        width: 340px;
        position: relative;
    }
    .form__input {
        border: 1px solid var(--border-color);
        border-radius: 10px;
        width: 100%;
    }
    .search__button {
        position: absolute;
        top: 25%;
        right: 20px;
        cursor: pointer;
    }
    .header__user-actions {
        column-gap: 20px;
    }
    .header__action-button {
        position: relative;
    }
    .header__action-button img {
        width: 30px;
    }
    .header__action-button .count {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: var(--first-color);
        color: var(--body-color);
        height: 18px;
        width: 18px;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        font-size: var(--tiny-font-size);
    }

    /* link aktif */
    .active__link, .nav__link:hover {
        color: var(--text-color);
        
    }

    /* home */
    .home__container {
        grid-template-columns: 5fr 7fr;
        align-items: center;
    }
    .home__subtitle, .home__description {
        font-size: var(--large-font-size);
    }
    .home__subtitle {
        font-family: var(--second-font);
        font-weight: var(--weight-600);
        margin-bottom: 16px;
        display: block;
    }
    .home__title {
        font-size: var(--h1-font-size);
        font-weight: var(--weight-700);
        line-height: 1.4;
    }
    .home__title span {
        color: var(--first-color);
        font-size: var(--big-font-size);
    }
    .home__description {
        margin-block: .5rem 2rem;
    }
    .home__image {
        justify-self: flex-end;
    }

    /* Button */
    .button {
        display: inline-block;
        background-color: var(--first-color);
        border: 2px solid var(--first-color);
        color: var(--body-color);
        padding-inline: 28px;
        height: 50px;
        line-height: 50px;
        border-radius: 25px;
        font-family: var(--second-font);
        font-size: var(--normal-font-size);
        font-weight: var(--weight-700);
        transition: all 0.4s var(--transition);
    }
    .button:hover {
        background-color: transparent;
        color: var(--first-color);
    }

    /* Genres */
    .genres{
        overflow: hidden;
    }
    .genre__item {
        background-color: var(--krem-1);
        text-align: center;
        border: 1px solid var(--coklat-tua2);
        padding: 10px 10px 20px;
        border-radius: 20px;
    }
    .genre__img {
        border-radius: 24px;
        margin-bottom: 16px;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .genre__title {
        color: var(--coklat-tua1);
        font-size: var(--normal-font-size);
    }

    /* Swiper CSS */
    .swiper {
        overflow: initial;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: '';
        color: white;
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: -54px;
        background-color: var(--first-color-alt);
        border-radius: 50%;
        border: 1px solid var(--coklat-tua2);
        height: 40px;
        width: 40px;
        padding-top: 6px;
        font-size: var(--h3-font-size);
        
    }
    .swiper-button-prev {
        left: initial;
        right: 48px; 
        color: var(--coklat-tua1);
        display: flex;
        padding-right: 3px;
    }
    .swiper-button-next {
        right: 0;
        color: var(--coklat-tua1);
        padding-left: 3px;
    }

    /* Produk */
    .tab__buttons {
        display: flex;
        column-gap: 36px;
    }
    .tab__button {
        background-color: #f3e9da;
        padding: 14px 18px;
        border-radius: 15px;
        font-family: var(--fourth-font);
        font-weight: var(--weight-600);
        cursor: pointer;
        margin-bottom: 32px;
    }
    .products__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .product__item {
        border: 2px solid var(--border-color);
        border-radius: 20px;
        transition: all 0.2s var(--transition);
    }
    .product__banner {
        padding: 10px 5px 10px;
    }
    .product__images, .product__banner {
        position: relative;
    }
    .product__images{
        display: block;
        scale: 90%;
        overflow: hidden;
    }
    .product__img {
        vertical-align: middle;
        transition: all 1s;
        border-radius: 20px;
    }
    .product__img.hover {
        position: absolute;
        top: 0;
        left: 0;
    }
    .product__actions {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        column-gap: 8px;
    }
    .action__button {
        width: 35px;
        height: 35px;
        line-height: 42px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--container-color);
        border: 1px solid var(--border-color);
        color: var(--text-color);
        font-size: var(--tiny-font-size);
        position: relative;
    }
    .action__button::before, .action__button::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .action__button::before {
        content: '';
        top: -2px;
        border: 8px solid transparent;
        border-top-color: var(--coklat-tua2);
    }
    .action__button::after  {
        content: attr(aria-label);
        bottom: 100%;
        background-color: var(--coklat-tua2);
        color: var(--container-color);
        font-size: 8px;
        white-space: nowrap;
        padding-inline: 10px;
        border-radius: 4px;
        line-height: 12px;
    }
    .product__badge {
        position: absolute;
        left: 20px;
        top: 20px;
        background-color: var(--mint-tua);
        color: var(--title-color);
        padding: 6px 10px;
        border-radius: 20px;
        font-size: var(--tiny-font-size);
    }
    .product__badge.light-pink {
        background-color: pink;
    }
    .product__badge.light-green {
        background-color: lightgreen;
    }
    .product__badge.light-blue {
        background-color: lightblue;
    }
    .product__badge.orange {
        background-color: rgb(251, 211, 137);
    }
    .product__content {
        padding: 0 16px 10px;
        position: relative;
    }
    .produk__genre {
        color: var(--text-color-light);
        font-size: var(--smaller-font-size);
        font-weight: var(--weight-700);
        font-family: var(--fourth-font);
    }
    .product__title {
        font-size: var(--normal-font-size);
        padding: 6px 2px;
        font-weight: 800;
    }
    .product__rating {
        color: rgb(216, 170, 76);
        font-size: small;
        margin-bottom: 8px;
    }
    .product__price.new__price {
        font-size: var(--large-font-size);
    }
    .cart__button {
        position: absolute;
        bottom: 16px;
        right: 10px;
    }


    /* Tab aktif */
    .tab__button.active-tab {
        color: #ffffff;
        background-color: #a08364;
    }
    .tab__item:not(.active-tab) {
        display: none;
    }

    /* Produk hover */
    .product__img.hover, 
    .product__actions, 
    .action__button::before, 
    .action__button::after, 
    .product__item:hover .product__img.default {
        opacity: 0;
    }
    .product__item:hover {
        box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.1);
    }
    .product__item:hover .product__img.hover, 
    .product__item:hover .product__actions, 
    .action__button:hover::before, 
    .action__button:hover::after {
        opacity: 1;
        scale: 1.05;
    }
    .action__button:hover::before, 
    .action__button:hover::after {
        transform: translateX(-50%) translateY(-6px);
    }
    .action__button:hover {
        background-color: var(--coklat-tua1);
        border-color: var(--coklat-tua1);
        color: var(--container-color);
    }
}
